[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  VITE_API_URL = "https://crediya-backend-a-production.up.railway.app"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200 